@import "base.css";

.itemTitle a{font-weight:bold; color:#4EBAFF !important; text-decoration:none }
.itemTitle a:hover{ text-decoration:underline }
.itemDate{font-size:70%;color:#AAAAAA;}

.panel-body {
    padding: 0;
}
.panel-footer {
    text-align: right;
}

.panel {
    margin: 0;
}

.container {
    max-width: 1000px;
}

.detail {
    display: flex;
    box-sizing: border-box;
}

.detail > div:first-child {
    margin-right: 8px;
}

.detail > div:last-child {
    margin-left: 8px;
}

.detail .panel {
    height: 100%;
}

.social {
    margin-top: 16px;
    display: flex;
}

.social > div {
    flex-grow: 1;
    flex-shrink: 1;
}

.social > div:first-child {
    margin-right: 8px;
}

.social .panel {
    height: 100%;
}